@model List<E_Market.Core.Application.ViewModel.Categories.CategoriesViewModel>;



@foreach (var item in Model)
{
    <h1>
        @item.id
        @item.categoriesName
        @item.categoriesDescrition
    </h1>
}
